<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious food</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <section class="hero py-2">
        <div class="container mx-auto flex items-center justify-around">
            <div class="w-1/2 px-10">
                <h6 class="text-lg"><em>Want something Tasty?</em></h6>
                <h2 class="text-6xl font-bold">Come here!</h2>
                <button class="px-6 py-2  text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero.png" alt="">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8">
     <h1 class="text-xl font-bold mb-8 mx-6">Our Menu</h1>
    <div class="grid grid-cols-2 grid-rows-4 gap-4 grid-flow-col auto-cols-max" >
    <!-- <div class="grid md:gap-x-14 md:gap-y-18 grid-cols-3 md:grid-cols-1"> -->
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food1.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food1</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹150</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food2.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food2</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹250</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food3.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food3</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹200</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food4.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food4</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹250</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food5.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food5</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹190</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food6.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food6</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹180</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class=" px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/food7.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food7</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹150</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>
        <div class="px-6 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">Food8</h2>
        <div class="flex items-center justify-around">
            <span class="font-bold text-lg mx-2">₹200</span>
            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
        </div>
        </div>

    </div>
    </section>
    <script src="/js/app.js"></script>
</body>
</html>