
    <section class="hero py-2">
        <div class="container mx-auto flex items-center justify-around">
            <div class="w-1/2 px-12">
                <h6 class="text-lg"><em>Want something Tasty?</em></h6>
                <h2 class="text-3xl md:text-6xl font-bold">Come here!</h2>
                <button class="px-6 py-2  text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero.png" alt="">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8 mx-6">Our Menu</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16" >
        <% food.forEach(function(food) { %>
            <div class="w-full md:w-68">
                <img class="h-40  mb-4 mx-auto" src="/img/<%= food.image %>" alt="">
            <div class="text-center">
                <h2 id="names" class="mb-4 text-lg"><%= food.name %></h2>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg">₹<%= food.price %></span>
                <button data-food="<%= JSON.stringify(food) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
            </div>
            </div>
            
            <% }) %>

        
    </div>
    </section>
    <script src="/resources/js/app.js"></script>
    <script src="/resources/views/search.js"></script>
</body>
</html>